In [ ]:
#shravya srivastva
#aim: study of list

#LISTS---------
listfruits=["apple","orange","cherry"]
#duplicates are allowed in lists
#lists exits for numbers too
#append
listfruits.append("blue berry")
#printing 2
print(listfruits[-2],listfruits[0])

cherry apple

In [ ]:
#banana/2 aftr apple and not at the end
listfruits=["apple","orange","cherry"]
listfruits.insert(1,2)
print(listfruits)
#replacing 2 with banana
listfruits[1]="banana"
print(listfruits)

['apple', 2, 'orange', 'cherry']
['apple', 'banana', 'orange', 'cherry']

In [ ]:
#duplicated
listfruits=["apple","apple","banana"]
print(listfruits)
#to find number of elements
print(len(listfruits))

['apple', 'apple', 'banana']
3

In [ ]:
#numbered list
listn=[1,2,3]
print(listn)

[1, 2, 3]

In [ ]:
#combining lists
list1=["apple","banana","cherry"]
list2=["blue berry","strawberry","cranberry"]
#by addition
print(list1+list2)
#by extend
list1.append("watermelon")
list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'blue berry', 'strawberry', 'cranberry']
['apple', 'banana', 'cherry', 'watermelon', 'blue berry', 'strawberry', 'cranberry']

In [38]:
list1=["apple","banana","cherry","kiwi","mango","watermelon","dragon fruit"]
#printing few numbers
print(list1[2:7])
#printing till end
print(list1[3:])
#from start
#ending always (n-1) element tak jayega
print(list1[:5])
print(list1[:-2])
print(list1[-3:])

['cherry', 'kiwi', 'mango', 'watermelon', 'dragon fruit']
['kiwi', 'mango', 'watermelon', 'dragon fruit']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
['mango', 'watermelon', 'dragon fruit']

In [49]:
#qu 1

names=["Shravya","Akshat","Riya","Pranav","Rahul"]
print(names[0],names[4])
names.insert(3,"Rachit")
print(names)
names.remove("Riya")
print(names)
names.sort()
print(names)

Shravya Rahul
['Shravya', 'Akshat', 'Riya', 'Rachit', 'Pranav', 'Rahul']
['Shravya', 'Akshat', 'Rachit', 'Pranav', 'Rahul']
['Akshat', 'Pranav', 'Rachit', 'Rahul', 'Shravya']

In [59]:
#qu2
#create list of students marks, display highest and lowest marks, calc avg marks, sort marks in ascending order, to use max(),min(),sum(),len(),sort()
studentmarks=[80,45,33,66,55,76]
print(min(studentmarks))
print(max(studentmarks))
print(sum(studentmarks)/len(studentmarks))
studentmarks.sort()
print(studentmarks)

33
80
59.166666666666664
[33, 45, 55, 66, 76, 80]